<div class="content">
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of datos; track item.id) {
          <tr>
            <td>
              {{item.name}}
            </td>
            <td>
              {{item.description}}
            </td>
            <td>
              ${{item.price}}
            </td>
            <td class="action-buttons">
              <button class="button" (click)="showDetailCar(item)">Detalle</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="content" *ngIf="isShowDetailCar">
    <div>
      <h3>Nombre: {{productDetail.name}}</h3>
      <img src="{{productDetail.imageUrl}}" alt="{{productDetail.name}}" class="imagecard">
      <p>Descripcion: {{productDetail.description}}</p>
      <p>Precio: ${{productDetail.price}}</p>
      <button class="button button-cart" (click)="addToCart(productDetail)">Agregar al carrito</button>
    </div>
  </div>
  
  <div class="content" *ngIf="cartMessage">
    <div class="success-message">
      {{cartMessage}}
    </div>
  </div>